.container-default {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

.content {
   flex: 1;
   padding: 0 48px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow-y: auto;
}

.inner-layout {
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 24px 0;
}

.main-content {
   flex: 1;
   padding: 0 48px;
}

@media (max-width:1150px) {
   .main-content {
      padding: 0;
   }
}