.minimalist-button {
   color: #FF7F50;
   background-color: transparent;
   border: none;
   margin: 0;
   padding: 0;
   transition: all 0.3s ease;
}

.minimalist-button:hover {
   color: #FF6347;
}
