.custom-header {
   background-color: #F5EBE0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   position: relative;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   /*z-index: 100;*/
}

.center-section {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.left-section, .right-section {
   display: flex;
   align-items: center;
}

.header-logo {
   width: 40px;
   margin-right: 10px;
}

.header-text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.header-text span {
   font-size: 1rem;
}

.header-text-regular {
   margin-bottom: -40px;
}

.header-text-bold {
   font-weight: bold;
   margin-top: -8px;
}

.minimalist-button {
   color: #000000;
   background-color: transparent;
   border: none;
   margin: 0;
   padding: 0;
   transition: all 0.3s ease;
   margin-right: 10px;
}

.minimalist-button:hover {
   color: #FF7F50;
}

.gradient-button {
   color: #FFF;
   background: linear-gradient(45deg, #FF7F50, #FF6347);
   border: none;
   transition: background 0.3s ease;
   margin-right: 10px;
}

.gradient-button:hover {
   background: linear-gradient(45deg, #FF6347, #FF4500);
}

.nav-icon-img {
   max-width: 100%;
   height: auto;
   cursor: pointer;
   transition: transform 0.3s ease;
}

.navbar-left {
   display: flex;
   align-items: center;
   gap: 15px;
}

.search-bar {
   width: 200px;
   padding: 5px 10px;
   border-radius: 20px;
   border: 1px solid #ccc;
   outline: none;
}

.navbar-center {
   display: flex;
   align-items: center;
   gap: 40px;
}

.navbar-right {
   display: flex;
   align-items: center;
   gap: 20px;
}

.avatar-dropdown-container {
   position: relative;
}
 
.avatar-dropdown-button {
   background: none;
   border: none;
   box-shadow: none;
   position: absolute;
   right: -10px; 
   top: 50%; 
   padding: 0;
   outline: none; 
}
 
.avatar-dropdown-button img {
   width: 15px; 
   height: 15px;
}

.avatar-dropdown-button:hover img {
   filter: invert(100%); 
}

.nav-icon {
   display: flex;
   align-items: center;
}

.nav-icon-img:hover,
.nav-icon-img:active {
   transform: scale(1.1); 
}

.home-icon-link .nav-icon-img {
   width: 37px;
   height: 37px;
}

.friends-icon-link .nav-icon-img {
   width: 43px;
   height: 43px;
}

.story-icon-link .nav-icon-img {
   width: 37px;
   height: 37px;
}

.messanger-icon-link .nav-icon-img {
   width: 40px;
   height: 40px;
}

.login, .register {
   color: #FFF;
}

.logo {
   height: 40px;
}

.menu-button {
   display: none;
}

@media (max-width: 768px) {
   .navbar-center, .search-bar, .minimalist-button:not(.login):not(.register) {
      display: none;
   }

   .center-section {
      justify-content: flex-start;
      left: 10px;
      transform: none;
   }

   .right-section {
      display: flex;
      gap: 10px;
   }

   .menu-button {
      display: inline-block;
   }
}

.burger-menu-item a {
   color: #FF7F50;
   transition: color 0.3s ease;
}

.burger-menu-item a.active {
   color: #000;
}

.burger-menu-item a:hover {
   color: #FFA07A;
}

.ant-btn-primary {
   background-color: #FF7F50;
   border-color: #FF7F50;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
   background-color: rgb(240, 242, 245);
   border-color: rgb(240, 242, 245);
}

.drawer-menu-item:hover,
.drawer-menu-item.ant-menu-item-selected {
  background-color: rgb(240, 242, 245) !important;
}
