.custom-header {
   background-color: #F5EBE0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   position: relative;
}

.header-gradient {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px 20px;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}

.left-section {
   display: flex;
   align-items: center;
}

.search-box {
   color: #000000;
   border: none;
   border-radius: 8px;
   margin-right: 20px;
   width: 200px;
}

.search-box input {
   color: #000000 !important;
   border-radius: 8px;
}

.search-box .ant-input-prefix {
   color: #000000;
}

.search-box:focus,
.search-box:hover,
.search-box:active {
   background-color: #D9D9D9 !important;
   color: #000000 !important;
}

.header-logo {
   width: 40px;
   margin-right: 10px;
}

.header-text {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.header-text span {
   font-size: 1rem;
}

.header-text-regular {
   margin-bottom: -40px;
}

.header-text-bold {
   font-weight: bold;
   margin-top: -8px;
}

.minimalist-button {
   color: #000000;
   background-color: transparent;
   border: none;
   margin: 0;
   padding: 0;
   transition: all 0.3s ease;
}

.minimalist-button:hover {
   color: #FF7F50;
}

@media (max-width: 768px) {
   .search-box,
   .minimalist-button:not(.login):not(.register) {
      display: none;
   }

   .minimalist-button.login,
   .minimalist-button.register {
      display: inline-block;
   }

   .header-gradient {
      justify-content: flex-start;
      position: static;
      transform: none;
      padding: 0;
   }

   .header-logo,
   .header-text {
      display: inline-flex;
   }
}