.header-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 16px;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu-item-selected {
   background-color: rgb(240, 242, 245) !important;
   color: black !important; 
}

.logo {
   font-size: 20px;
   font-weight: bold;
}

.auth-buttons {
   display: flex;
   gap: 10px;
}

.login-btn, .register-btn {
   background-color: #ff4d4f;
   color: white;
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
   cursor: pointer;
}

.login-btn:hover, .register-btn:hover {
   background-color: #ff7875;
}

.avatar-container {
   display: flex;
   align-items: center;
   padding: 16px;
   background: #f0f2f5;
}

.avatar {
   width: 50px; 
   height: 50px; 
   border-radius: 50%;
   margin-right: 12px; 
}

.username {
   font-weight: bold;
   font-size: 18px;
   margin-left: 10px;
   color: black;
}

.menu-icon {
   width: 30px; 
   height: 30px; 
   object-fit: contain;
   margin-right: 20px; 
}

.ant-menu-item {
   font-size: 18px; 
}

.site-layout-background {
   background: #fff;
   padding: 24px;
   min-height: 360px;
}

.layout-wrapper {
   display: flex;
   height: 100vh;
}

.sider-fixed {
   position: fixed;
   left: 0;
   top: 64px; 
   height: calc(100% - 64px);
   background-color: #fff;
   z-index: 1000;
}

.content-wrapper {
   flex: 1;
   margin-left: 250px; 
   padding: 24px;
   overflow: auto;
   margin-top: 64px;
}
