.create-story {
   display: flex;
   align-items: center;
   cursor: pointer; /* Зміна курсору при наведенні */
}

.create-story .icon-wrapper {
   position: relative;
   width: 40px;
   height: 40px;
   margin-right: 15px;
}

.create-story .icon {
   width: 100%;
   height: 100%;
}

.create-story .icon-wrapper::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 40px;
   height: 40px;
   background-color: rgba(255, 127, 80, 0.17); /* Колір з прозорістю */
   border-radius: 50%;
   transform: translate(-50%, -50%);
}

.create-story .text {
   display: flex;
   flex-direction: column;
}

.create-story .text p {
   margin: 0;
   color: #888;
}
