.create-story {
   display: flex;
   align-items: center;
   cursor: pointer;
   background: #fff;
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
   width: 100%;
   box-sizing: border-box;
   max-width: 600px;
   margin: 10px 0;
}

.create-story .icon-wrapper {
   position: relative;
   width: 40px;
   height: 40px;
   margin-right: 15px;
}

.create-story .icon {
   width: 100%;
   height: 100%;
}

.create-story .icon-wrapper::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 40px;
   height: 40px;
   background-color: rgba(255, 127, 80, 0.17);
   border-radius: 50%;
   transform: translate(-50%, -50%);
}

.create-story .text {
   display: flex;
   flex-direction: column;
}

.create-story .text p {
   margin: 0;
   color: #888;
   font-size: 14px;
}

@media (max-width: 600px) {
   .create-story {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
   }

   .create-story .icon-wrapper {
      margin-bottom: 10px;
   }

   .create-story .text {
      text-align: center;
   }
}
