.create-story-div {
    background: linear-gradient(154.84deg, #FF0000 2.43%, #FF355A 14.82%, #FF4F87 49.71%, #FF69B4 84.15%);
    border-radius: 20px;

    height: 345px;
    width: 244px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: .25s;
}

.create-story-div:hover {
    scale: 1.05;
}

.create-story-div:last-child {
    background: linear-gradient(154.53deg, #00FF00 2.27%, #00FF80 27.05%, #00FFBF 63.98%, #00FFFF 98.47%);
}

.create-story-image-div {
    border-radius: 100%;
    background-color: #fff;

    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.25s;

    img {
        width: 80%;
        height: 80%;
    }
}

.create-story-image-div:hover{
    rotate: 50deg;
}

.create-story-label {
    font-weight: 600;
    color: #fff;
}

.settings-icon-div {
    border-radius: 100%;
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    img {
        width: 70%;
        height: 70%;
    }
}

.avatar-div {
    justify-content: space-between;
    align-items: center;

    img {
        height: 92px;
        width: 92px;
    }

    p {
        font-size: 18px;
        font-weight: 700;
    }
}

.preview-div{
    background-color: #212121;
    border-radius: 13px;

    width: 100%;
    height: 100%;

    display:flex;
    justify-content: center;
    align-items: center;
}

.preview-div-bordered{
    border: #fff 1px solid;
    height: 350px;
    width: 194px;
    overflow: hidden;

    img{
        cursor: pointer;
    }
}

.ant-card-body{
    height: 100%!important;
    width: 100%!important;
}