.ant-list-item{
  padding: 10px;
}

.ant-list-item:hover {
  box-shadow: 0 0 4px #ed7777;
  border-radius: 10px;
  padding: 10px;
}
.selected{
  background-color: #f5cdcd;
  border-radius: 8px;
}

.friend-list-item{
  padding-left: 8px;
  cursor: pointer;
  transition: .2s;
}

.friend-list-item:hover{
  border-radius: 8px;
  background-color: lightgray;
}