.user-name {
    white-space: nowrap;
    color: black;
    font-weight: 700;
    margin: 0;
}

.visibility-button {
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
}

.post-preview-img {
    width: 100%;
    object-fit: contain;
}

.slick-arrow,
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    font-size: inherit;
    color: black;
}