.post-preview-img {
    width: 100%;
    object-fit: contain;
}

.slick-arrow,
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
    font-size: inherit;
    color: black;
}