.card-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    position: relative;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .post-content-center {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 600px) {
    .card-container {
      width: 100%;
      padding: 5px;
    }
  }
  
  @media only screen and (max-width: 400px) and (min-width: 300px) {
    .card-container {
      max-width: 350px;
      margin: 10px auto;
      padding: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
  
    .post-content-center {
      display: flex;
      flex-direction: column;
      align-items: center; 
      text-align: center;
    }
  }