body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.auth-pages-img {
    width: 400px;
}

.auth-pages-flex {
    gap: 50px;
}

@media (max-width:748px) {
    .auth-pages-img {
        width: 80vw;
    }

    .auth-pages-flex {
        gap: 2vw;
    }

    .user-profile-page-card .ant-card-body {
        padding: 0 !important;
    }

    .reactions-label,
    .comment-avatar {
        display: none;
    }
}

.h-50px {
    height: 50px;
    width: 50px;
}

.post-actions-flex {
    align-items: center;
    border-radius: 8px;
    padding: 2.5px 5px;
    gap: 8px;
    cursor: pointer;
    transition: .5s;
}

.post-actions-flex:hover {
    background-color: lightgray;
}

.comment-icon {
    cursor: pointer;
    transition: .3s;
}

.comment-icon:hover {
    scale: 1.2;
}

.register-page-image {
    z-index: 1;
}

@media (max-width:1200px) {
    .register-page-image {
        z-index: 0 !important;
    }
}

.selectable-item-flex {
    align-content: center;
    width: 45%;
    padding: 5px;
    border-radius: 8px;
    transition: .5s;

    &:hover {
        background: lightgray !important;
    }

    img {
        height: 50px;
        width: 50px;
    }
}