.ant-radio-wrapper input[type="radio"]+.ant-radio {
    border-color: #FF7F50;
}

.ant-radio-wrapper input[type="radio"]:checked+.ant-radio-inner {
    border-color: #FF7F50;
    background-color: #FF7F50;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio-wrapper:focus-within .ant-radio {
    border-color: #FFA07A;
    box-shadow: none;
}

.ant-radio-wrapper input[type="radio"]:checked+.ant-radio-inner::after {
    background-color: #FF7F50;
}

.ant-radio-wrapper:hover input[type="radio"]:not(:checked)+.ant-radio-inner::after,
.ant-radio-wrapper:focus-within input[type="radio"]:not(:checked)+.ant-radio-inner::after {
    background-color: #FFA07A;
}